$fa-font-path: "node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/css/font-awesome";

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/elements/icon";
@import "node_modules/bulma/bulma";
@import "node_modules/bulma/sass/components/_all";

.navbar-brand .navbar-item img.logo {
    height: 58px;
    max-height: 58px;
    margin-right: 30px;
    width: auto;
    max-width: auto;
}

#map {
    height: 90%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#overlayer-map {
    height: auto;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    z-index: 2;
}

#overlayer-map .field .control {
    margin-right: 10px;
}

.icon-marker {
    display: inline-block;
    height: 32px;
    width: auto;
}