@import "ol/ol";
@import "bulma/bulma";

.navbar-brand .navbar-item img.logo:first-child {
    margin-right: 30px;
}

.navbar-item .notification small {
    padding-left: .5rem;
    padding-bottom: .4rem;
    vertical-align: middle;
}

#map, .map, .map .ol-viewport, .map .ol-viewport canvas {
    display: block;
    height: 90%;
    min-height: 90%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.ol-zoom {
    bottom: 5rem;
    top: auto;
}

#overlayer-map {
    margin-top: .7rem;
    max-width: 100%;
    position: absolute;
    z-index: 2;
}

.icon-marker {
    display: inline-block;
    height: 32px;
    width: auto;
}

.is-invisible {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.marker-route-point {
    z-index: 888;
}

.marker-reference-point {
    z-index: 889;
}

.marker-vehicles-route {
    z-index: 890;
}

footer.notification-footer {
    bottom: 60px;
    display: block;
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 10;
}