// $fa-font-path: "//use.fontawesome.com/releases/v5.1.0/fonts";
$fa-font-path: "/fonts";
@import "node_modules/font-awesome/scss/font-awesome";

@import "node_modules/bulma/bulma";

.navbar-brand .navbar-item img.logo:first-child {
    margin-right: 30px;
}

.navbar-item .notification small {
    padding-left: .5rem;
    padding-bottom: .4rem;
    vertical-align: middle;
}

#map {
    height: 90%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#overlayer-map {
    background-color: #ededede6;
    border: 1px solid #ccc;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: auto;
    max-width: 100%;
    z-index: 2;
}

#overlayer-map .field .control {
    margin-right: 10px;
}

#overlay-map .checkbox {
    vertical-align: middle;
}

.icon-marker {
    display: inline-block;
    height: 32px;
    width: auto;
}

.is-invisible {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.marker-route-point {
    z-index: 888;
}

.marker-reference-point {
    z-index: 889;
}

.marker-vehicles-route {
    z-index: 890;
}